#!ipxe

# set site name
set site_name boot.netboot.xyz

# set boot domain
set boot_domain boot.netboot.xyz

# set mirror domain
set mirror mirror.rackspace.com

# set location of memdisk
set memdisk https://${boot_domain}/memdisk

# signature check enabled?
set sigs_enabled true

# set location of signatures
set sigs sigs/

# set colors
set esc:hex 1b
set fg_bla ${esc:string}[30m
set fg_red ${esc:string}[31m
set fg_gre ${esc:string}[32m
set fg_yel ${esc:string}[33m
set fg_blu ${esc:string}[34m
set fg_mag ${esc:string}[35m
set fg_cya ${esc:string}[36m
set fg_whi ${esc:string}[37m
set fg_def ${esc:string}[39m
set bg_bla ${esc:string}[40m
set bg_red ${esc:string}[41m
set bg_gre ${esc:string}[42m
set bg_yel ${esc:string}[43m
set bg_blu ${esc:string}[44m
set bg_mag ${esc:string}[45m
set bg_cya ${esc:string}[46m
set bg_whi ${esc:string}[47m
set bg_def ${esc_string}[49m
